@import "tailwindcss";

@font-face {
    font-family: 'Clash';
    src: url('./fonts/ClashDisplay-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Clash p';
    src: url('./fonts/ClashDisplay-Regular.otf') format('opentype');
}

.header{
    font-family: 'clash';
}
.paragraph{
    font-family: 'clash p';
   
}

.gradient-btn{
    background: linear-gradient(90deg, #3E98D3 0%, #4A5AA4 100%);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: Myrid;
}
body{
    background: #080808;
}